/* Overlay styles */
#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 1, 85); /* Semi-transparent black overlay */
    z-index: 9999;
}

/* Loading icon styles */
#loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Light gray border */
    border-top: 5px solid #3498db; /* Blue border */
    border-radius: 50%;
    animation: spin 2s linear infinite; /* Spinning animation */
}

/* Loading text styles */
#loading-text {
    position: absolute;
    top: calc(50% + 35px); /* Adjust the vertical position as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #fff; /* Text color */
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
